.time{
  font-weight: 1000;
  alignment: center;
  font-size: 6em;
  margin-block-start: 0.67em;
  font-weight: bold;
  font-family: "Digital-7";
}

@font-face {
    font-family: 'Digital-7'; /*a name to be used later*/
    src: url('/src/assets/digital-7 (mono).ttf'); /*URL to font*/
}
