<div>
  <mat-toolbar style="background-color:#313348">
    <mat-button-toggle class="transparentButton" (click)="drawer.toggle()"><i class="material-icons">menu</i>
    </mat-button-toggle>
    <h1><img style="width: 370px; max-height: 100%;" src="../assets/Logo.png"/></h1>
  </mat-toolbar>
</div>

<mat-sidenav-container class="frame">
  <mat-sidenav class="sideFrame" [formGroup]="sidenavControl" #drawer mode="over" closed>
    <mat-form-field class="formField">
      <mat-select placeholder="Timestamp" formControlName="timestampControl">
        <mat-option *ngFor="let timestamp of timestamps" [value]="timestamp"
                    (focusout)="drawer.close(); changeTimestamp()">
          {{timestamp}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="formField">
      <input matInput [min]="minDate" [max]="maxDate" [formGroup]="sidenavControl" [matDatepicker]="fromPicker" placeholder="Choose a from date" (dateChange)="fromFilter($event)">
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="formField">
      <input matInput [min]="minDate" [max]="maxDate" [formGroup]="sidenavControl" [matDatepicker]="toPicker" placeholder="Choose a to date" (dateChange)="toFilter($event)">
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
  </mat-sidenav>

  <mat-sidenav-content>
  <app-display [Timestamp]="filterdTimestamp" [fromDate]="filterdfromDate" [toDate]="filterdtoDate"></app-display>
  </mat-sidenav-content>
</mat-sidenav-container>





