.frame {
  height: calc(100% - 64px);
  width: 100%;
}

h1 {
  float: left;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-stroke: 2px white;
  font-size: 250%;
  color: white;
}

mat-checkbox{
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

.formField{
  float: left;
  width: 90%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.sideFrame {
  background-color: #252636;
  height: 240px;
  width: 30%;
}

.transparentButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

