<div class="wrap">
  <div class="box">
      <h1>TOTALE VERBRUIK</h1>
      <div class="total-usage">{{totalUsage}}</div>
  </div>
  <div class="box">
      <app-clock></app-clock>
  </div>
</div>
<div class='chart-holder'>
  <canvas id='LiveDataChart'></canvas>
</div>
