.chart-holder{
    margin: 10px 10px 0px 10px;
    height: 60%;
}

.wrap{
    display:flex;
    flex-direction: row;
    height: 35vh;
}
.box{
    width: 50%;
    text-align: center;
}

.total-usage{
  font-weight: 800;
  alignment: center;
  font-size: 3em;
  margin-block-start: 0.67em;
  font-weight: bold;
}
